:root {
  --max-width: 1100px;
  --border-radius: 12px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter";
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #00339a !important;
}

a {
  color: #00ccff;
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  border: 5px solid rgb(15, 27, 69);
  color: rgb(15, 27, 69) !important;
  width: 100%;
  min-height: 450px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  white-space: pre-line;
  resize: none; /*remove the resize handle on the bottom right*/
}

th,
td {
  padding: 5px !important;
  text-align: center;
}

.clues {
  margin-top: 24px !important;
}
