.carouselText {
  text-align: center;
  white-space: pre-line;
}

.main {
  margin-bottom: 40px;
}

.carouselHeadline {
  color: #fff;
  font-weight: 900;
  font-size: 120px;
  line-height: 145px;
  white-space: pre-line;
}

.carouselContent {
  color: #fff;
  font-size: 50px;
  line-height: 60px;
}

.carouselButton {
  padding: 10px;
  width: 150px;
  height: 50px;
}

.firstSlide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.contentSlide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.carouselContainer {
  display: flex;
  flex-direction: column;
  margin: 50px 0;
  text-align: left;
  padding: 130px;
  width: 1080px;
  height: 1350px;
  background-color: #ffffff;
  background-image: url("../public/slide_bg.jpg");
  background-size: 100% 100%;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 1080px;
}

.sentiment {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 50px;
}

.chart {
  display: flex;
  justify-content: space-between;
}

.explanation {
  font-size: 13px;
}

.sentimentLabel {
  font-size: 13px;
  font-weight: bold;
}

.explanationContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
  text-align: left;
  padding: 1em 0;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  justify-content: center;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em 0;
  text-align: left;
}

.sources {
  margin-top: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.link {
  margin-bottom: 20px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.paragraph {
  margin-bottom: 25px;
}

.header {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  margin: auto;
  background-color: #00339a;
  flex-shrink: 0;
}

.leftColumn {
  width: calc(33.33% - 1em);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 1em;
}

.headerLeftColumn {
  width: calc(33.33% - 1em);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1em;
}

.headerCenterColumn {
  width: calc(33.33% - 1em);
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerRightColumn {
  width: calc(33.33% - 1em);
  padding-right: 1em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 1em;
}

.leftColumn > a {
  color: #fff;
}

.centerColumn {
  display: flex;
  justify-content: center;
}

.rightColumn {
  display: flex;
  width: calc(33.33% - 1em);
  justify-content: flex-end;
  margin-right: 1em;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  max-width: 1300px;
  margin: auto;
  background-color: #00339a;
  flex-shrink: 0;
}

.sentiment svg {
  display: block;
  margin: auto;
  height: auto;
  max-width: 100%;
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .subSummary {
    flex-direction: column;
  }

  .chart {
    flex-direction: column;
  }
  .chart * {
    cursor: text !important;
    text-decoration: None !important;
    pointer-events: none;
  }

  .explanationContainer {
    width: 100%;
  }
}

/* components/loading.module.css */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
  width: 100%;
}

.spinner {
  animation: spin 1s linear infinite;
  width: 60px;
  height: 60px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.responsive-crossword-container {
  margin: 0 auto;
  background: #f7fafc;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(92, 201, 250, 0.08);
  padding: 32px;
  transition: padding 0.2s;
}

.responsive-crossword-container h3 {
  margin-top: 32px !important;
}

@media (max-width: 900px) {
  .responsive-crossword-container {
    width: calc(100vw - 32px);
    padding: 16px;
  }
}

@media (max-width: 600px) {
  .responsive-crossword-container {
    width: calc(100vw - 32px);
    padding: 4vw;
    border-radius: 8px;
  }
}

.crossword-grid svg {
  width: 100% !important;
  height: auto !important;
  max-width: 100vw;
}
