.carousel {
  height: 1080px;
  width: 1080px;
  background-color: #ffffff;
  padding: 50px;
  margin: 0 50px 50px 50px;
  display: flex;
  flex-direction: column;
}

.carouselText {
  padding: 20px;
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.carouselHeadline {
  color: #0f1c3f;
  font-weight: 700;
  font-size: 72px;
  padding: 20px;
}

.carouselContent {
  color: #0f1c3f;
  font-size: 36px;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.aweLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.carouselButton {
  padding: 10px;
  width: 150px;
  height: 50px;
}

.carouselContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
  text-align: left;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 1080px;
}

.sentiment {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 50px;
}

.chart {
  display: flex;
  justify-content: space-between;
}

.explanation {
  font-size: 13px;
}

.sentimentLabel {
  font-size: 13px;
  font-weight: bold;
}

.explanationContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
  text-align: left;
  padding: 50px;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  justify-content: center;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  text-align: left;
}

.sources {
  margin-top: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.link {
  margin-bottom: 20px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.paragraph {
  margin-bottom: 25px;
}
